*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    width: 100%;
}

#bg{
    height: 100%;
    width: 100%;
    background-image: url(bg.jpg);
    background-size: cover;
}

h1{
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: buttermilk;
    font-weight: 100;
    mix-blend-mode: difference;

}
h1:hover{
    color: rgb(222, 204, 8);
}
